@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');

html, body, #root {
  height: 100%;
}

:root {
  --primary: #6979F8;
  --blue-200: #0084F4;
  --blue-100: #4EAEFF;
  --text-muted: #353434;
}
